# All files not matched by other patterns
* @thecotne @robwalsh21 @milosyuki @lorcan-codes

# All CMS content files
/_data/ @thorville @robwalsh21 @Tal-wagner @glrn @AmalyStark
/public/assets/ @thorville @robwalsh21 @Tal-wagner @glrn @AmalyStark
