# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/slice-data/
/public/page-data/

# misc
.DS_Store
*.pem
.cache
.parcel-cache
storybook-static
.idea
__*
_data/_dynamic
.eslintcache
.tool-versions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify

#vscode
.vscode/settings.json

.types
.types-*
_crowdin
*.vars
*.__*
dist
public/data
public/sitemap.xml
!_crowdin/translation
.wrangler/
