:root {
  --content-margin: 20px;
  --content-margin-block: calc(var(--content-margin) * 2);
}
* {
  box-sizing: border-box;
}

html,
body {
  height: calc(100% - var(--content-margin-block)) !important;
}

.preview-content {
  margin: var(--content-margin);
}
