.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.row {
    display: flex;
    overflow: hidden;
}

.rssBlock {
    left:0px;
    background: transparent;
    position: absolute;
    width:1070px;
    height: 200px;
    overflow: visible;
    flex-direction: row;
    display: flex;
  }
  .rssBlock:hover .marqueeStyle,
  .rssBlock:hover .marqueeStyle2,
  .rssBlock:hover .marqueeStyleRight,
  .rssBlock:hover .marqueeStyle2Right {
    animation-play-state: paused;
  }

.marqueeStyle {
    display:flex;
    animation-play-state: running;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left1 120s linear infinite;
    animation: scrolling-left1 120s linear infinite;
}

.marqueeStyle2 {
    display:flex;
    animation-play-state: running;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left2 120s linear infinite;
    animation: scrolling-left2 120s linear infinite;
    animation-delay: 60s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}

@keyframes scrolling-left2 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}

.marqueeStyleRight {
    display:flex;
    animation-play-state: running;
    /* Apply animation to this element */
    -webkit-animation: scrolling-right1 120s linear infinite;
    animation: scrolling-right1 120s linear infinite;
}

.marqueeStyle2Right {
    display:flex;
    animation-play-state: running;
    /* Apply animation to this element */
    -webkit-animation: scrolling-right2 120s linear infinite;
    animation: scrolling-right2 120s linear infinite;
}
/* scrolling-right is continuous/repeatly text */
@keyframes scrolling-right1 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
    100% {transform: translateX(200%);
        -webkit-transform: translateX(200%);}
}
@keyframes scrolling-right2 {
    0% {transform: translateX(-200%);
        -webkit-transform: translateX(-200%);}
    100% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
}
